# Created by .ignore support plugin (hsz.mobi)
### Node template
.git/
build/
.vscode/
.env
.idea/
*.iml
*.ipr
*.iws
README.MD
Dockerfile
azure-pipelines.yml
.gitignore
.dockerignore
node_modules/